@import '/src/styles/variables';

.checkboxContainer {
    display: flex;
    align-items: center;
    input[type="checkbox"] {
        
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        width: 20px;
        height: 20px;
        border: 1px solid $dark-grey;
        border-radius: 4px;
        margin: 0 6px 0 0 ;
        cursor: pointer;  
    }

    input[type="checkbox"]:checked {
        background-color: #231d1d;
    }
} 